{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "es2016",
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "react-hot-loader/babel"
  ]
}
