
footer.container {

  text-align: center;
  line-height: 4;
  padding: .5em 1.25em 1.5em;
  font-size: 1em;

  img, a {
    transition: .2s ease all;
  }

  img {
    height: 3em;
    padding-left: .5em;

    &:hover {
      transform: scale(1.35);
    }
  }

  a {
    color: #cde;

    &:hover {
      color: #fff;
    }
  }

  .main-title {
    margin: .5em;
    font-size: 1.2em;
  }
}
