
footer.container {

  text-align: center;
  line-height: 4;
  padding: .5em 1.25em 1.5em;
  font-size: 1em;

  img, a {
    transition: .3s ease all;
  }

  img {
    height: 2em;
    margin: 0 2.25em .33em .75em;
    padding: .125em;

    &:hover {
      transform: scale(1.5);
    }
  }

  a {
    color: #ccddee;

    &:hover {
      color: #fff;
      text-decoration: none;
      text-shadow: 2px 2px 12px rgba(255, 255, 255, .25)
    }
  }

  .main-title {
    margin: .5em;
    font-size: 1.2em;
  }
}
